<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	I'm 26 beginner software developer and keep learning RoR to increase programming skills. Michael Hartl tutorial is helping me to get knowledge about RoR.
</p>
